/app/config/parameters.yml
/app/config/parameters.ini
/build/
/phpunit.xml
/app/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/uploads/
/bin/*
!bin/console
!bin/symfony_requirements
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/spool/*
/app/bootstrap.php.cache
/var/bootstrap.php.cache
!/app/var/cache
/app/var/cache/*
!/app/var/cache/.gitkeep
!/app/var/logs
/app/var/logs/*

*~
/.idea/
*.iws
.idea_modules/

atlassian-ide-plugin.xml

/composer.phar
